@media print {
  menu  {
    display: none;
  }
}
@media screen {
  menu  {
    position: fixed;
    display: block;
  }
}

body
{
  font-size:11pt;
}

.sheet
{
  padding:7mm;
}

.card
{
  border:.1pt solid lightgray;
  border-radius:0;
  display:flex;
  float:left;
  height:41mm;
  padding:.2em!important;
  position:relative;
  width:63mm;
}

.threat,.cost
{
  height:18pt;
  padding-right:.2em;
  position:absolute;
  text-align:right;
  top:1mm;
}

.cost
{
  color:lightgray;
  right:6mm;
  width:6mm;
}

.threat
{
  font-weight:700;
  right:1mm;
  width:3mm;
}

i.ship
{
  font-size:2em;
  height:18pt;
  left:0;
  line-height:1em;
  padding-left:.2em;
  position:absolute;
  text-align:left;
  top:0;
  width:24px;
}

.name
{
  font-size:10pt;
  font-weight:700;
  height:18pt;
  left:8mm;
  margin:0;
  position:absolute;
  text-align:center;
  top:1mm;
  width:43mm;
}

.limited::before
{
  content:"•";
}

.upgrades
{
  display:inline-block;
  height:32mm;
  left:0;
  margin:0;
  padding:0 0 4px;
  position:absolute;
  top:28px;
  width:63mm;
}
.upgrades-8 {
  font-size: 10pt;
}

.upgrade
{
  list-style-type:none;
  padding:0 .2em;
}

/*Tooltip images*/
.ship-card, .upgrade-card  {
  max-width: 100%;
}

/*Card id*/
.card-id {
  position:absolute;
  bottom: -0.2mm;
  right: 0;
  width: 5mm;
  font-size: 6pt;
  color: lightgray;
  text-align: center;
  display: inline-block;
}

/*Faction icon*/
.faction-icon {
  font-family: XWing;
  font-style: normal;
  position:absolute;
  bottom: 2mm;
  right: 0.5mm;
}
.faction-icon.faction-galacticempire:before {content: "@";}
.faction-icon.faction-rebelalliance:before {content: "!";}
.faction-icon.faction-scumandvillainy:before {content: "#";}
.faction-icon.faction-resistance:before {content: "-";}
.faction-icon.faction-firstorder:before {content: "+";}
.faction-icon.faction-galacticrepublic:before {content: "/";}
.faction-icon.faction-separatistalliance:before {content: ".";}

/*Dual cards*/
.dual {
  border:.1pt solid lightgray;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  display:block;
  left:48.5mm;
  margin:0;
  max-height:20px;
  padding:0;
  position:relative;
  text-align:center;
  top:19mm;
  width:25mm;

  transform:rotate(-90deg);
  -moz-transform:rotate(-90deg);
  -ms-transform:rotate(-90deg);
  -o-transform:rotate(-90deg);
  -webkit-transform:rotate(-90deg);
}

.dual::before {
  content:"DUAL CARD ";
  font-size:7pt;
  padding-right:5px;
}

/*Forcepower*/
.forcepower::after {
  color:#b17ac1;
  content: " F";
  font-family: XWing;
  font-size: 8pt;
  font-style: normal;
  font-weight: 40;
}
/*Variants*/
.variant-partisant::after {
  color:black;
  content: " I";
  font-family: XWing;
  font-size: 8pt;
  font-style: normal;
  font-weight: 40;
}

/*Menu*/
menu .faction {
  font-weight: 700;
  margin-bottom: 1em;
}

menu .ship {
  font-weight: 400;
  font-size: 8pt;
  padding-left: 1em;
}

menu i.xwing-miniatures-ship {
  color: black;
}
menu input[type="checkbox"] {
  margin-right: 4px !important;
}

#m-factions>span {
  font-style: italic;
  color: gray;
  font-size: 75%;
  padding-top: 2em;
}

#m-info {
  max-width: 200px;
  font-style: italic;
  color: gray;
  font-size: 75%;
  margin-bottom: 2em;
}

/*Search*/
.search-selected {
  background-color: #d8f0f3;
}

/*Factions*/
.faction-rebelalliance {color:#f0232a;}
.faction-galacticempire {color:#455bbf;}
.faction-scumandvillainy {color:#f78121;}
.faction-resistance {color:#71bf45;}
.faction-firstorder {color:black;}
.faction-galacticrepublic {color:#b39e66;}
.faction-separatistalliance {color:#787878;}

/*Threat levels*/
.threat-1 {color:#71bf45;}
.threat-2 {color:#e8db00;}
.threat-3 {color:#f78121;}
.threat-4 {color:#f0232a;}
.threat-5 {color:#da0d8e;}
.threat-6 {color:#a260a7;}

/*Upgrades icons*/
.upgrade-astromech::before {content: "A "; font-family: XWing; font-style: normal;}
.upgrade-cannon::before {content: "C "; font-family: XWing; font-style: normal;}
.upgrade-cargo::before {content: "G "; font-family: XWing; font-style: normal;}
.upgrade-configuration::before {content: "n "; font-family: XWing; font-style: normal;}
.upgrade-crew::before {content: "W "; font-family: XWing; font-style: normal;}
.upgrade-device::before {content: "B "; font-family: XWing; font-style: normal;}
.upgrade-gunner::before {content: "Y "; font-family: XWing; font-style: normal;}
.upgrade-illicit::before {content: "I "; font-family: XWing; font-style: normal;}
.upgrade-missile::before {content: "M "; font-family: XWing; font-style: normal;}
.upgrade-modification::before {content: "m "; font-family: XWing; font-style: normal;}
.upgrade-sensor::before {content: "S "; font-family: XWing; font-style: normal;}
.upgrade-talent::before {content: "E "; font-family: XWing; font-style: normal;}
.upgrade-tacticalrelay::before {content: "Z "; font-family: XWing; font-style: normal;}
.upgrade-tech::before {content: "X "; font-family: XWing; font-style: normal;}
.upgrade-title::before {content: "t "; font-family: XWing; font-style: normal;}
.upgrade-torpedo::before {content: "P "; font-family: XWing; font-style: normal;}
.upgrade-turret::before {content: "U "; font-family: XWing; font-style: normal;}
.upgrade-forcepower::before {content: "F "; font-family: XWing; font-style: normal;color:#b17ac1;}

.upgrade-slots-2.upgrade-astromech::before {content: "AA ";}
.upgrade-slots-2.upgrade-cannon::before {content: "CC ";}
.upgrade-slots-2.upgrade-cargo::before {content: "GG ";}
.upgrade-slots-2.upgrade-configuration::before {content: "nn ";}
.upgrade-slots-2.upgrade-crew::before {content: "WW ";}
.upgrade-slots-2.upgrade-device::before {content: "BB ";}
.upgrade-slots-2.upgrade-gunner::before {content: "YY ";}
.upgrade-slots-2.upgrade-illicit::before {content: "II ";}
.upgrade-slots-2.upgrade-missile::before {content: "MM ";}
.upgrade-slots-2.upgrade-modification::before {content: "mm ";}
.upgrade-slots-2.upgrade-sensor::before {content: "SS ";}
.upgrade-slots-2.upgrade-tacticalrelay::before {content: "ZZ ";}
.upgrade-slots-2.upgrade-talent::before {content: "EE ";}
.upgrade-slots-2.upgrade-tech::before {content: "XX ";}
.upgrade-slots-2.upgrade-title::before {content: "tt ";}
.upgrade-slots-2.upgrade-torpedo::before {content: "PP ";}
.upgrade-slots-2.upgrade-turret::before {content: "UU ";}
.upgrade-slots-2.upgrade-forcepower::before {content: "FF ";}
